<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:fragment="sidebar">

        
    
        <div class="sidebar">
            <div class="text-center mb-4">
            <img src="/imagens/logo.png" alt="Logo" class="img-fluid" style="width: 100px;">
            </div>
        <a href="/"><i class="bi bi-house-door"></i>Home</a>
        <a href="/animais">Animais</a>
        <a href="/clientes">Clientes</a>
        <a href="/produtos">Produtos</a>
        <a href="/vendedores">Vendedores</a>
        <a href="#">Estoque</a>
        <a href="#">Vendas</a>
        <a href="#">Relatórios</a>
        
        </div>
    </div>
</body>
</html>